body {
  background: #f8b400;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  top: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

ul img {
  inline-size: 3rem;
  float: left;
}

li a {
  display: inline-block;
  color: white;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Noto-sans", sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

p {
  font-weight: 600;
  -webkit-text-fill-color: aliceblue;
  -webkit-text-stroke-color: #333;
  -webkit-text-stroke-width: 1px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 5rem;
  padding: 8% 10px 10px 10px;
  overflow: hidden;
  word-wrap: break-word;
}