*{
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

ul img {
  inline-size: 3rem;
  float: left;
}

li a {
  display: inline-block;
  color: white;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Noto-sans", sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

#qrcode {
  margin-top: 20px;
}

content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
